body {	
 background-color: #F0FFF0; 

}
.hero-spacer {
	margin-top: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}
nav {
	padding-left: 50px;
	padding-right: 50px;
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

header.navbar-inverse {
background-color: #F0FFF0;
border-color: #F0FFF0;
	
}
header.navbar {
position: relative;
min-height: 80px;
margin-bottom: 0;
}
.navbar-inverse {
background-color: #36648B;
border-color: #36648B;
}
.navbar-inverse .navbar-brand {
color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
color: #ffffff;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    width:270px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:0px;
    width:270px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

@media (min-width: 979px) {
  #fix_nav.affix-top {
    position: static;
    width: 850px;
  }
  
  #fix_nav.affix {
    position: fixed;
    top:0px;
    width: 850px;
  }
}

#fix_nav li.active {
  border:0 #eee solid;
  border-right-width:5px;
}
.breadcrumb {
padding: 8px 15px;
margin-bottom: 20px;
list-style: none;
background-color: #36648B;
border-radius: 4px;
color: #ffffff;
}
.panel-default>.panel-heading {
color: #333;
background-color: #F5D769;
border-color: #F5D769;
}


.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}




.ratings {
  color: #36648B;
}




footer {
  margin: 50px 0;
}