body {
 padding-top:40px;
}
.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}
nav {
	padding-left: 50px;
padding-right: 50px;
}

#masthead { 
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

.navbar-inverse {
background-color: #2F4F2F;
border-color: #2F4F2F;
}
.navbar-inverse .navbar-brand {
color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
color: #ffffff;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    width:270px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:270px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}
.breadcrumb {
padding: 8px 15px;
margin-bottom: 20px;
list-style: none;
background-color: #d6e9c6;
border-radius: 4px;
color: #3c763d;
}