<header class="masthead">
    <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 style="color:#36648B;">Sabzi Market</h1>
      </div>
      <div class="col-sm-2">
        <span style="color:#36648B;">Call: 0987654321</span>
      </div>
      <div class="col-sm-4">
        <div class="pull-right  hidden-xs">    
          <span style="color:#36648B; font-weight:bold;">About | Contact</span>
        </div>
      </div>
    </div>
    </div>
</header>